<div style="width: 100%">
  <mat-card style="padding: 2rem">
    <div class="modal-content">
      <h3>Add New Book Category</h3>
      <form fxLayout="column" fxLayoutGap="10px" [formGroup]="categoryForm">
        <mat-form-field appearance="outline">
          <mat-label>Book Category</mat-label>
          <input matInput formControlName="categoryTitle" required />
        </mat-form-field>

        <button mat-raised-button color="primary" (click)="onSubmitModal()">
          Submit
        </button>
      </form>
    </div>
  </mat-card>
</div>

